.contenedor {
  width: 980px;
  height: 800px;
  background-color: yellow;
  margin: auto;
}
.contenedor {
  width: 980px;
  height: 800px;
  background-color: yellow;
  margin: auto;
}
.contenedor {
  width: 980px;
  height: 800px;
  background-color: yellow;
  margin: auto;
}
.contenedor {
  width: 980px;
  height: 800px;
  background-color: yellow;
  margin: auto;
}
.contenedor {
  width: 980px;
  height: 800px;
  background-color: yellow;
  margin: auto;
}
