.visible {
  background-color: darkgrey;
  width: 300px;
  height: 200px;
  border: 2px dashed green;
  overflow: visible;
}
.oculto {
  background-color: darkgrey;
  width: 300px;
  height: 200px;
  border: 2px dashed green;
  overflow: hidden;
}
.barra {
  background-color: darkgrey;
  width: 300px;
  height: 200px;
  border: 2px dashed green;
  overflow: scroll;
}
.automatico {
  background-color: darkgrey;
  width: 300px;
  height: 200px;
  border: 2px dashed green;
  overflow: auto;
}
.doble {
  background-color: darkgrey;
  width: 300px;
  height: 200px;
  border: 2px dashed green;
  overflow-x: scroll;
  overflow-y: hidden;
}
