i {
  font-size: 30px;
}
.fa-youtube-square {
  color: #ff0000;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-money-check {
  color: #28c101;
}
.fa-intercom {
  color: #0f7dc2;
}
.fa-instagram-square {
  color: #f56040;
}
