body {
  background-color: green;
}
.contenedor {
  background-color: indianred;
}
.caja1 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
}
/* Agregamos imagenes por cada etiqueta div */
/* Agregamos margen a la izquierda */
.caja2 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin-right: 40px;
}
/* Agrregamos margen a la derecha */
.caja3 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin-left: 40px;
}
/* Agregamos margen a la superior */
.caja4 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin-top: 40px;
}
/* Agregamos margen a la inferior */
.caja5 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin-bottom: 40px;
}
/* Agregamos un margen personalizado */
.caja6 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin: 20px 80px 30px 10px;
}
/* Agregamos la caja al medio de todo */
.caja7 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin: auto;
}
